torch>=2.0.0
torchvision>=0.15.0
numpy==1.24.3
opencv-python>=4.7.0
insightface>=0.7.3
python-dotenv>=1.0.0
openai>=1.0.0
PySide6>=6.5.0
requests>=2.31.0
SpeechRecognition>=3.10.0
PyAudio>=0.2.13
ollama>=0.1.0
edge-tts>=6.1.9
onnxruntime-gpu>=1.15.1
